@import 'tailwindcss';

@theme inline {
  --font-sans: var(--font-inter);
}

@theme {
  --color-accent: #84c49c;
  --color-gray: #434343;
  --color-gray-light: #f0f0f0;

  --font-inconsolata: var(--font-inconsolata);
}
