@import 'tailwindcss';

@theme inline {
  --font-sans: var(--font-inter);
}

@theme {
  --color-accent: #84c49c;
  --color-gray: #434343;
  --color-gray-light: #f0f0f0;

  --font-inconsolata: var(--font-inconsolata);
}

@layer components {
  /* Tech Stack Badge */
  .article .tech-stack-badge {
    @apply w-fit shrink-0 rounded-md px-2 py-1 text-white;
    background-color: #3f3f46;
  }

  /* Frontend */
  .article .tech-stack-badge--html {
    background-color: #e34f26;
  }

  .article .tech-stack-badge--css {
    background-color: #663399;
  }

  .article .tech-stack-badge--sass {
    background-color: #cc6699;
  }

  .article .tech-stack-badge--bem {
    background-color: #383434;
  }

  .article .tech-stack-badge--javascript {
    background-color: #ffc31f;
  }

  .article .tech-stack-badge--typescript {
    background-color: #3178c6;
  }

  .article .tech-stack-badge--react {
    background-color: #5ed2f3;
  }

  .article .tech-stack-badge--react-router {
    background-color: #e43639;
  }

  .article .tech-stack-badge--vite {
    background-color: #646cff;
  }

  .article .tech-stack-badge--nextjs {
    background-color: #383434;
  }

  .article .tech-stack-badge--tailwindcss {
    background-color: #06b6d4;
  }

  .article .tech-stack-badge--css-modules {
    background-color: #383434;
  }

  /* Backend */
  .article .tech-stack-badge--nodejs {
    background-color: #5fa04e;
  }

  .article .tech-stack-badge--microcms {
    background-color: #2a2b2e;
  }

  .article .tech-stack-badge--wordpress {
    background-color: #21759b;
  }

  .article .tech-stack-badge--php {
    background-color: #777bb4;
  }

  .article .tech-stack-badge--express {
    background-color: #383434;
  }

  .article .tech-stack-badge--prisma {
    background-color: #2d3748;
  }

  /* Database */
  .article .tech-stack-badge--mysql {
    background-color: #4479a1;
  }

  .article .tech-stack-badge--postgresql {
    background-color: #4169e1;
  }

  .article .tech-stack-badge--sqlite {
    background-color: #003b57;
  }

  .article .tech-stack-badge--mongodb {
    background-color: #47a248;
  }

  /* Code Quality */
  .article .tech-stack-badge--eslint {
    background-color: #6b57c9;
  }

  .article .tech-stack-badge--prettier {
    background-color: #f7b93e;
  }

  .article .tech-stack-badge--husky {
    background-color: #383434;
  }

  /* Testing */
  .article .tech-stack-badge--jest {
    background-color: #c21325;
  }

  .article .tech-stack-badge--vitest {
    background-color: #6e9f18;
  }

  .article .tech-stack-badge--testing-library {
    background-color: #e33332;
  }

  /* Deployment */
  .article .tech-stack-badge--linux {
    background-color: #f6ab05;
  }

  .article .tech-stack-badge--docker {
    background-color: #2496ed;
  }

  .article .tech-stack-badge--git {
    background-color: #f05032;
  }

  .article .tech-stack-badge--github {
    background-color: #383434;
  }

  .article .tech-stack-badge--github-actions {
    background-color: #2088ff;
  }

  .article .tech-stack-badge--firebase {
    background-color: #dd2c00;
  }

  .article .tech-stack-badge--vercel {
    background-color: #383434;
  }

  .article .tech-stack-badge--github-pages {
    background-color: #222222;
  }

  .article .tech-stack-badge--aws {
    background-color: #f69400;
  }

  .article .tech-stack-badge--nginx {
    background-color: #009639;
  }

  .article .tech-stack-badge--certbot {
    background-color: #383434;
  }

  /* Tools */

  .article .tech-stack-badge--vscode {
    background-color: #2096e8;
  }

  .article .tech-stack-badge--cursor {
    background-color: #383434;
  }

  .article .tech-stack-badge--figma {
    background-color: #f24e1e;
  }

  .article .tech-stack-badge--affinity-designer {
    background-color: #134881;
  }

  .article .tech-stack-badge--affinity-photo {
    background-color: #4e3188;
  }

  /* work-hero section */
  .article .work-hero {
    @apply mb-16 grid grid-cols-1 gap-8 lg:mb-24 lg:grid-cols-2 lg:gap-16;
  }

  .article .work-hero__thumbnail {
    box-shadow: 10px 10px 0px 0px var(--color-gray-light);
  }

  .article .work-hero__content {
    @apply lg:pt-10;
  }

  .article .work-hero__title {
    @apply font-inconsolata mb-8 text-4xl;
    position: relative;
    padding-bottom: 0.5rem;
  }

  .article .work-hero__title::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 40px;
    height: 4px;
    background-color: var(--color-accent);
  }

  .article .work-hero__description {
    @apply mb-8;
  }

  /* button */
  .article .btn-row {
    @apply flex items-center justify-center gap-3.5 lg:justify-start;
  }

  .article .btn-center {
    @apply flex items-center justify-center gap-3.5;
  }

  .article .btn {
    @apply inline-flex items-center rounded-md px-4 py-2;
  }

  .article .btn--demo-btn {
    @apply text-gray hover:bg-accent border border-current bg-white hover:text-white;
  }

  .article .btn--demo-btn::before {
    content: '';
    display: inline-block; /* → block is fine */
    width: 1.2rem;
    height: 1.2rem;
    background: url('/icons/globe-icon.svg') no-repeat center/contain;
    margin-right: 0.3rem;
    flex-shrink: 0; /* Protect icon size */
  }

  .article .btn--demo-btn:hover::before {
    background: url('/icons/globe-icon-white.svg') no-repeat center/contain;
  }

  .article .btn--demo-btn::after {
    content: '';
    display: inline-block;
    width: 1rem;
    height: 1rem;
    background: url('/icons/arrow-forward.svg') no-repeat center/contain;
    margin-left: 0.3rem;
    flex-shrink: 0;
  }

  .article .btn--demo-btn:hover::after {
    background: url('/icons/arrow-forward-white.svg') no-repeat center/contain;
  }

  .article .btn--github-btn {
    @apply bg-gray hover:bg-accent border border-current text-white;
  }

  .article .btn--github-btn::before {
    content: '';
    display: inline-block;
    width: 1rem;
    height: 1rem;
    background: url('/icons/github-icon.svg') no-repeat center/contain;
    margin-right: 0.3rem;
    flex-shrink: 0;
  }

  .article .btn--github-btn::after {
    content: '';
    display: inline-block;
    width: 1rem;
    height: 1rem;
    background: url('/icons/arrow-forward-white.svg') no-repeat center/contain;
    margin-left: 0.3rem;
    flex-shrink: 0;
  }

  /* content-box */
  .article .content {
    @apply mb-16;
  }

  /* title */
  .article .content-title {
    @apply font-inconsolata bg-gray-light border-accent mb-6 border-l-4 px-2.5 py-1 text-2xl;
  }

  .article .sub-title {
    @apply font-inconsolata relative mb-4 border-b-2 border-gray-300 pl-0.5 text-xl;
  }

  /* checklist */
  .article .checklist {
    padding-left: 2rem;
  }

  .article .checklist__item {
    @apply relative mb-4;
  }

  .article .checklist__item::before {
    content: '';
    position: absolute;
    top: 0em;
    left: -2em;
    width: 1.4em;
    height: 1.4em;
    background: var(--color-accent);
    border-radius: 50%;
  }

  .article .checklist__item::after {
    content: '';
    display: block;
    position: absolute;
    top: 0.5em;
    left: -1.6em;
    width: 10px;
    height: 5px;
    border-left: 2px solid #fff;
    border-bottom: 2px solid #fff;
    transform: rotate(-45deg);
  }

  /* dot-list */
  .article .dot-list {
    @apply marker:text-gray my-1 list-disc pl-5;
  }

  .article .dot-list__item {
    @apply mb-2 sm:mb-1;
  }

  /* link */
  .article .link {
    @apply hover:text-accent underline;
  }

  .article .link::after {
    content: '';
    display: inline-block;
    width: 1rem;
    height: 1rem;
    margin-left: 0.1rem;
    vertical-align: middle;
  }

  .article .link--external::after {
    background: url('/icons/link-external-icon.svg') no-repeat center/contain;
  }

  .article .link--external:hover::after {
    background: url('/icons/link-external-icon-accent.svg') no-repeat center/contain;
  }

  .article .link--internal::after {
    background: url('/icons/link-internal-icon.svg') no-repeat center/contain;
  }

  .article .link--internal:hover::after {
    background: url('/icons/link-internal-icon-accent.svg') no-repeat center/contain;
  }

  /* Tech Stack Content */
  .article .tech-stack-content {
    @apply grid grid-cols-1 items-start gap-8 lg:grid-cols-2;
  }

  /* Tech Stack Table */
  .article .tech-stack-table {
    @apply order-2 w-full border-collapse text-center lg:order-1;
  }

  .article .tech-stack-table__header {
    @apply border-accent border-b-3 px-4 py-2 font-medium sm:text-nowrap md:px-10 md:py-5;
  }

  .article .tech-stack-table__data {
    @apply w-full border-b-2 border-gray-300 px-4 py-2 font-medium md:px-10 md:py-5;
  }

  .article .tech-stack-table__tech-stack-badge-group {
    @apply flex flex-wrap items-center gap-3;
  }

  /* Popup image in tech-stack-content */
  .article .tech-stack-content__image {
    @apply order-1 lg:order-2;
  }

  /* Popup image */
  .article .img-popup-toggle {
    display: none;
  }

  /* non-popup */
  .article .img-popup__image-wrapper {
    position: relative;
    cursor: zoom-in;
  }

  /* popup */
  .article .img-popup-toggle:checked + .img-popup__image-wrapper::after {
    content: '';
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 50;
  }

  .article .img-popup-toggle:checked + .img-popup__image-wrapper img {
    position: fixed;
    top: 50%;
    left: 50%;
    max-width: 90%;
    max-height: 90%;
    transform: translate(-50%, -50%);
    z-index: 51;
    cursor: zoom-out;
  }

  @media (min-width: 1024px) {
    .article .img-popup-toggle:checked + .img-popup__image-wrapper img {
      max-width: 60%;
      max-height: 60%;
    }
  }

  .article .img-popup__icon {
    display: none;
  }

  @media (min-width: 1400px) {
    .article .img-popup__icon {
      display: block;
      position: absolute;
      bottom: 8px;
      right: 8px;
      width: 36px;
      height: 36px;
      border-radius: 50%;
      background: var(--color-accent) url('/icons/zoom-icon.svg') no-repeat center/55%;
      z-index: 2;
    }
  }

  .article .half-media {
    @apply grid grid-cols-1 gap-4 pb-12 md:grid-cols-2 md:gap-8;
  }

  .article .half-media__image {
    @apply block h-auto w-full;
  }

  .article .half-media--reverse .half-media__image {
    @apply order-1 md:order-2;
  }

  .article .half-media--reverse .half-media__content {
    @apply order-2 md:order-1;
  }

  /* Notes List */
  .article .NotesList {
    @apply grid grid-cols-1 gap-9 pb-10 lg:grid-cols-3 lg:gap-8;
  }

  .article .NotesList__item {
    @apply relative grid w-full cursor-pointer grid-cols-2 gap-3 border-b border-gray-400 pb-2 hover:opacity-70 lg:block lg:border-r lg:pb-6;
  }

  .article .NotesList__item-thumbnail {
    @apply col-span-1 object-cover lg:aspect-3/2 lg:w-full;
  }

  .article .NotesList__item-content {
    @apply col-span-1 pr-1;
  }

  .article .NotesList__item-category {
    @apply flex flex-wrap items-center gap-1 pt-0 pr-1 pb-2 lg:pt-2;
  }

  .article .NotesList__badge {
    @apply py-0.5 text-sm;
  }

  /* Challenge List */
  .article .challenge-list__items + .challenge-list__items {
    @apply mt-6 border-t border-gray-300 pt-6;
  }

  .article .challenge-list__item {
    @apply relative mb-1 sm:mb-2 pl-8;
  }

  .article .challenge-list__item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 1.4em;
    height: 1.4em;
    background: var(--color-accent);
    border-radius: 50%;
  }

  .article .challenge-list__item--challenge::before {
    background: #c48484;
  }

  .article .challenge-list__item--solution::before {
    background: #84a4c4;
  }

  .article .challenge-list__item::after {
    content: '';
    display: block;
    position: absolute;
  }

  .article .challenge-list__item--challenge::after {
    @apply font-medium text-white;
    content: '?';
    top: -0.05em;
    left: 0.45em;
  }

  .article .challenge-list__item--solution::after {
    background: url('/icons/arrow-forward-solution.svg') no-repeat center/contain;
    top: 0.2em;
    left: 0.24em;
    width: 1rem;
    height: 1rem;
  }

  .article .challenge-list__item--solution + .challenge-list__item--challenge {
    @apply mt-6 border-t border-gray-300 pt-6;
  }

  .article .challenge-list__item--solution + .challenge-list__item::before {
    top: 1.5rem;
  }

  .article .challenge-list__item--solution + .challenge-list__item::after {
    top: calc(1.5rem - 0.05em);
  }

  /* code */
  .article .code-inline {
    @apply font-inconsolata rounded bg-gray-100 px-1 py-0.5 text-sm font-medium text-red-400;
  }

  /* code block */
  .article .code-block {
    @apply my-2 overflow-x-auto rounded-lg bg-gray-800 px-4 py-1 text-sm text-gray-100;
  }

  /* Hepler class */
  .article .margin-b-5 {
    @apply mb-5;
  }

  .article .margin-b-10 {
    @apply mb-10;
  }
}
